@import "tailwindcss";

:root {
  --background: #000000;
  --surface-alt: #1a1a1a;
  --surface-elevated: #2a2a2a;
  --border: #333333;
  --stroke: #3d3d3d;
  --blue-neon: #FF2A6D;

  --foreground: #f2f2f2;
  --text-secondary: #b3b3b3;
  --text-disabled: #666666;

  --accent: #d3d3d3;
  --hover: #e6e6e6;

  --font-frontage-bold: 'Frontage Bold';
  --font-frontage-regular: 'Frontage Regular';
  --font-frontage-bulb: 'Frontage Bulb';
  --font-sf: 'SF Pro';
  --font-proxima: 'Proxima';
  --font-cake: 'Cake';
  --font-nexa: 'nexa';

}

@font-face {
  font-family: 'Frontage Bold';
  src: url('/fonts/frontage-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Frontage Regular';
  src: url('/fonts/frontage-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Frontage Bulb';
  src: url('/fonts/frontage-bulb.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/sf-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/sf-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima';
  src: url('/fonts/proxima.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cake';
  src: url('/fonts/cake-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;

}
@font-face {
  font-family: 'nexa';
  src: url('/fonts/Nexa-Heavy.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;

}

@theme inline {
  --color-background: var(--background);
  --color-surface-alt: var(--surface-alt);
  --color-surface-elevated: var(--surface-elevated);
  --color-border: var(--border);
  --color-stroke: var(--stroke);
  --color-blue-neon: var(--blue-neon);

  --color-foreground: var(--foreground);
  --color-text-secondary: var(--text-secondary);
  --color-text-disabled: var(--text-disabled);

  --color-accent: var(--accent);
  --color-hover: var(--hover);

  --font-frontage-bold: var(--font-frontage-bold);
  --font-frontage-regular: var(--font-frontage-regular);
  --font-frontage-bulb: var(--font-frontage-bulb);
  --font-sf: var(--font-sf);
  --font-proxima: var(--font-proxima);
  --font-cake: var(--font-cake);
  --font-nexa: var(--font-nexa);


  --breakpoint-xs: 30rem;

  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
 
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
 
  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
 
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sf);
  margin: 0;
  padding: 0;
  height: 100%;
}

.glitch {
  text-align: center;
  letter-spacing: 15px;
  display: inline-block;
  color: var(--color-foreground);
}

.glitch-off {
  text-align: center;
  letter-spacing: 15px;
  display: inline-block;
  color: var(--color-foreground);
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 2px;
  color: var(--color-foreground);
  text-shadow: -1px 0 #0ff;
  clip: rect(0, 1200px, 0, 0);
  animation: glitch-1 1s linear alternate-reverse infinite;
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: -2px;
  color: darken(#01A8FF, 33%);
  text-shadow: 3px 0 #FF28D7;
  clip: rect(0, 1200px, 0, 0);
  animation: glitch-2 .6s linear alternate-reverse infinite .2s;
}

@keyframes glitch-1 {
  0% {
    clip: rect(40px, 1200px, 70px, 0px);
  }
  15% {
    clip: rect(130px, 1200px, 131px, 0px);
  }
  50% {
    clip: rect(90px, 1200px, 96px, 0px);
  }
  75% {
    clip: rect(125px, 1200px, 185px, 0px);
  }
  87% {
    clip: rect(70px, 1200px, 100px, 0px);
  }
  100% {
    clip: rect(130px, 1200px, 130px, 0px);
  }
}

@keyframes glitch-2 {
  0% {
    clip: rect(20px, 1200px, 80px, 0px);
  }
  15% {
    clip: rect(100px, 1200px, 105px, 0px);
  }
  50% {
    clip: rect(100px, 1200px, 95px, 0px);
  }
  75% {
    clip: rect(60px, 1200px, 60px, 0px);
  }
  87% {
    clip: rect(145px, 1200px, 160px, 0px);
  }
  100% {
    clip: rect(185px, 1200px, 185px, 0px);
  }
}